*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    display: flex;
    flex-direction:column;
    height: 100vh;
}



header{
    
    display:flex;
    background-color: mediumvioletred;
   align-items: center;
   padding: 20px;
}

main{

    display: flex;
    border:1px solid black;;
    flex-direction: row;
    height: 100vh;
   
}

footer{
    border: 1px solid black;
    background-color: mediumvioletred;
    text-align: center;
    display: flex;
    bottom: 0;
}   


p{
    display: flex
}

button{
    display: flex;
   
}



.iconeCake{
    height: 25px;
    width: 25px;
    background-color: mediumvioletred;
    align-items: center;
}

.nav1{
    display:flex;
    width: 25vw ;
    flex-direction: row ;
    background-color: #f2d0e0;
    justify-content: space-between;
    
   
}




.growHeader1{
    flex-grow: 1;
    background-color: mediumvioletred;
    align-items: center;
    margin-left: 10px;
}

.imgSize1{
    height: 25px;
    width: 25px;
    align-items: center;
}

.imgSize2{
    height: 250px;
    width: 250px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    
     
}



.divNavLateral{
    background-color: #f2d0e0;
 
}
  
.divMain1{
    display: flex;
    flex-direction: row;
}

.card{
    margin: 10px;
    box-shadow: 2px 2px darkgray;
    text-align: center;
   
  }

  .cards{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100vw;
  }

  .tamanhoCerto{
      width: 100vw;
  }